.container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}

.button{
    background-color: white;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
}

.button:disabled{
    cursor: not-allowed;
}

