.container {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form {
    width: 500px;
    height: 500px;
    background-color: var(--bgSoft);
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form input {
    padding: 30px;
    border: 2px solid var(--lightGrey);
    width: 100%;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
}

.form button {
    padding: 30px;
    width: 100%;
    border: none;
    cursor: pointer;
    color: var(--text);
    background-color: teal;
    border-radius: 10px;
}
.form h1{
    font-size: 35px;
    font-weight: bold;
}